body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.test-git-reset {
  color: orange;
<<<<<<< HEAD
  font-size: large;
}
.another-commit {
  color: red;
  font-size: large;
=======
}
.another-commit {
  color: red;
>>>>>>> a69f469a7948795d40607de72143460a83638c0b
}